<div class="app-wall">

    <div class="top-area">
        <div class="left">
                <app-logout></app-logout>
        </div>
        <div class="right">
            <app-search-posts (searchTextUpdated)="handleSearchPosts($event)"></app-search-posts>
        </div>
    </div>

    <div *ngIf="!loaded">
        LOADING...
    </div>
    <div *ngIf="loaded" class="posts">
        <div *ngFor="let post of posts | filter : searchPhrase" class="post"> 
            <a [routerLink]="['/post', post.id]">
                <div class="user-section">UserId: {{ post.userId }}</div>
                <div class="title-section">Title: {{ post.title }}</div>
            </a>
        </div>
    </div>
</div>
